<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <!-- <img src="https://www.themoviedb.org/assets/static_cache/0f4a7f7476ed84b3527c3f993de82a9c/images/v4/logos/powered-by-rectangle-blue.svg" alt="Powered by The Movie Database" class="background-logo"> -->
    <div class="smoke-screen"></div>
    <div id="root">
    </div>
</body>

</html>