@import "../utils/_variables.scss";
.grid-movie {
    display: grid;
    position: relative;
    grid-template-columns: 0.5fr 1fr 2fr 0.5fr;
    grid-template-rows: auto auto;
    grid-template-areas: ". poster details ." ". recommendations recommendations .";
    font-family: $barlow, sans-serif;
    margin-top: 2.5rem;
    .movie-poster {
        grid-area: poster;
        img {
            width: 100%;
        }
    }
    .grid-movie-details {
        grid-area: details;
        padding-left: 2.2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, auto) 0.8fr;
        grid-row-gap: 1rem;
        .movie-title {
            font-size: 3.5rem;
        }
        .movie-tagline {
            font-size: 2rem;
            color: $green;
        }
        .movie-overview {
            font-size: 1.3rem;
            color: $grey;
            opacity: 0.9;
        }
        .movie-infos {
            position: relative;
            .movie-date,
            .movie-runtime,
            .movie-vote {
                padding-right: 1rem;
            }
        }
        .movie-genres {
            opacity: 0.7;
        }
        .movie-director {
            .director-job {
                font-size: 1.1rem;
                padding-right: 0.4rem;
                color: $green;
            }
            .director-name {
                opacity: 0.9;
            }
            img {
                width: 7rem;
            }
        }
        .movie-actors {
            .main-cast {
                font-size: 1.1rem;
                padding-right: 0.4rem;
                line-height: 1rem;
                color: $green;
            }
            .actor {
                opacity: 0.9;
            }
            img {
                width: 8rem;
            }
        }
        .see-full {
            span {
                position: relative;
                opacity: 0.8;
                padding: 1rem 0rem;
                transition: all 0.2s ease;
                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    height: 1.5px;
                    transform: scaleX(0);
                    opacity: 0;
                    transform-origin: 0 50%;
                    background: $green;
                    transition: all 0.2s linear;
                }
                &:hover {
                    cursor: pointer;
                    opacity: 0.6;
                    &:before {
                        transform: scaleX(1);
                        opacity: 0.5;
                    }
                }
            }
            &.active {
                span {
                    opacity: 0.7;
                    &:before {
                        transform: scale(1);
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    .grid-recommendations {
        grid-area: recommendations;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto auto;
        grid-gap: 2rem;
        .title {
            grid-column: 1 / 7;
            font-size: 1.5rem;
            opacity: 0.8;
            padding-top: 1.5rem;
        }
        .recommendation {
            position: relative;
            overflow: hidden;
            .infos-container {
                display: grid;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: 0.2s opacity ease;
                will-change: opacity;
                z-index: 10;
                .infos-date {
                    font-size: 0.8rem;
                    color: $grey;
                    opacity: 0.7;
                }
                .infos-title {
                    padding: 0rem 1rem;
                    text-align: center;
                    color: $grey;
                    font-size: 1.1rem;
                }
                .infos-vote {
                    font-size: 0.8rem;
                    .fa-star {
                        position: relative;
                        bottom: 1px;
                        opacity: 0.7;
                    }
                    span {
                        padding: 0.5rem;
                    }
                }
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(2, 2, 2, 0.9);
                opacity: 0;
                transition: 0.2s opacity ease;
                will-change: opacity;
                z-index: 5;
            }
            img {
                width: 100%;
                transition: 0.2s transform ease;
                will-change: transform;
            }
            &:hover {
                cursor: pointer;
                .infos-container {
                    opacity: 1;
                }
                &:before {
                    opacity: 1;
                }
                img {
                    transform: scale(1.05);
                }
            }
        }
        @media screen and (max-width: 1100px) {
            grid-template-columns: repeat(4, 1fr);
            .title {
                grid-column: 1 / 5;
                font-size: 1.5rem;
                opacity: 0.8;
                padding-top: 1.5rem;
            }
        }
        @media screen and (max-width: 900px) {
            grid-template-columns: repeat(3, 1fr);
            .title {
                grid-column: 1 / 4;
                font-size: 1.5rem;
                opacity: 0.8;
                padding-top: 1.5rem;
            }
        }
        @media screen and (max-width: 700px) {
            grid-template-columns: repeat(2, 1fr);
            .title {
                grid-column: 1 / 3;
                font-size: 1.5rem;
                opacity: 0.8;
                padding-top: 1.5rem;
            }
        }
    }
    @media screen and (max-width: 700px) {
        grid-template-rows: auto auto auto;
        grid-template-areas: ". details details ." ". poster poster ." ". recommendations recommendations .";
        .grid-movie-details {
            padding-left: 0rem;
            padding-bottom: 2rem;
        }
    }
}