@import '../utils/_variables.scss';

.grid-categories {
    display: grid;
    grid-template-columns: 0.4fr 0.7fr 0.9fr 0.9fr 1fr 0.5fr 0.5fr;
    grid-template-areas: ". home popular top upcoming github ."; // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
    font-family: $barlow;
    padding: 0.5rem 0rem 1rem 0rem;
    text-transform: capitalize;
    .header-home {
        grid-area: home;
        transition: color 0.15s ease;
        padding: 1rem 0rem;
        &:hover {
            color: $green;
            cursor: pointer;
        }
        &.active {
            color: $green;
        }
    }
    .header-popular {
        grid-area: popular;
    }
    .header-top {
        grid-area: top;
    }
    .header-upcoming {
        grid-area: upcoming;
    }
    .header-github {
        grid-area: github;
        transition: color 0.15s ease; // padding: 1rem 0rem;
        a {
            padding: 1rem;
        }
        &:hover {
            color: $green;
        }
    }
    @media screen and (max-width: 700px) {
        display: none;
    }
}

.header-category {
    padding: 1rem 0rem;
    span {
        position: relative;
        opacity: 0.8;
        transition: all 0.2s ease;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1.5px;
            transform: scale(0);
            opacity: 0;
            transform-origin: 0 50%;
            background: $green;
            transition: all 0.2s linear;
        }
    }
    &:hover {
        cursor: pointer;
        span {
            opacity: 0.6;
            &:before {
                transform: scale(1);
                opacity: 0.5;
            }
        }
    }
    &.active {
        span {
            opacity: 0.7;
            &:before {
                transform: scale(1);
                opacity: 0.6;
            }
        }
    }
}
