@import "../utils/_variables.scss";
.grid-home {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem 2rem;
    padding: 3rem 6rem;
    font-family: $barlow, sans-serif;
    @media screen and (max-width: 1000px) {
        grid-template-columns: repeat(3, 1fr);
        padding: 3rem 5rem;
    }
    @media screen and (max-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 4rem;
    }
    @media screen and (max-width: 430px) {
        grid-template-columns: 1fr;
        padding: 3rem 2.5rem;
    }
    &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
        height: 1px;
        background: rgba(12, 132, 134, 0.2); // z-index: ;
        backface-visibility: hidden;
    }
    .movie-container {
        position: relative;
        overflow: hidden;
        .infos-container {
            display: grid;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: 0.2s opacity ease;
            will-change: opacity;
            z-index: 10;
            .infos-date {
                font-size: 0.9rem;
                color: $grey;
                opacity: 0.7;
            }
            .infos-title {
                padding: 0rem 1rem;
                text-align: center;
                color: $grey;
                font-size: 1.5rem;
            }
            .infos-vote {
                .fa-star {
                    opacity: 0.7;
                }
                span {
                    padding: 0rem 0.5rem;
                }
            }
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(2, 2, 2, 0.9);
            opacity: 0;
            transition: 0.2s opacity ease;
            will-change: opacity;
            z-index: 5;
        }
        img {
            width: 100%;
            transition: 0.2s transform ease;
            will-change: transform;
        }
        &:hover {
            cursor: pointer;
            .infos-container {
                opacity: 1;
            }
            &:before {
                opacity: 1;
            }
            img {
                transform: scale(1.05);
            }
        }
    }
}