@import "../utils/_variables.scss";
.grid-movie {
    display: grid;
    position: relative;
    grid-template-columns: 0.5fr 1fr 2fr 0.5fr;
    grid-template-areas: ". poster details .";
    font-family: $barlow, sans-serif;
    margin-top: 2.5rem;    
    .movie-poster {
        grid-area: poster;
        width: 100%;
    }
    .grid-movie-details {
        grid-area: details;
        padding-left: 2rem;
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(6, auto) 1fr;
        grid-row-gap: 1rem;
        .movie-title {
            font-size: 3.5rem; 
        }
        .movie-tagline {
            font-size: 2rem;
            color: $pastelblue; 
        }
        .movie-infos {
            .movie-date, .movie-runtime, .movie-vote {
                padding-right: 1rem;
                // strong {
                //     color: $pastelblue;
                // }
            }
        }
    }
}